<div class="col-lg-12 col-sm-12 col-md-12 campaign-detail-section">
    <div class="m-portlet">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                  Campaign Name
                  <small>Active</small>
                </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                                <i class="flaticon-info m--icon-font-size-lg3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end: Portlet Head-->

            <!--begin: Form Wizard-->
            <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">

                <!--begin: Message container -->
                <div class="m-portlet__padding-x">
                    <!-- Here you can put a message or alert -->
                </div>
                <!--end: Message container -->

                <!--begin: Form Wizard Head -->
                <div class="m-wizard__head m-portlet__padding-x">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <!--begin: Form Wizard Nav -->
                            <div class="m-wizard__nav">
                                <div class="m-wizard__steps">
                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_1">
                                        <div class="m-wizard__step-info">
                                            <a href="/campaign/overview" class="m-wizard__step-number">
                                                <span class="m-wizard__step-label">
                              Overview
                            </span>
                                                <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                                        <div class="m-wizard__step-info">
                                            <a href="/campaign/contacts" class="m-wizard__step-number">
                                                <span class="m-wizard__step-label">
                              Contacts
                            </span>
                                                <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                                        <div class="m-wizard__step-info">
                                            <a href="/campaign/sequences" class="m-wizard__step-number">
                                                <span class="m-wizard__step-label">
                              Sequences
                            </span>
                                                <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_4">
                                        <div class="m-wizard__step-info">
                                            <a href="/campaign/settings" class="m-wizard__step-number">
                                                <span class="m-wizard__step-label">
                              Settings
                            </span>
                                                <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Nav -->
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Head -->

                <!--begin: Form Wizard Form-->
                <div class="m-wizard__form">
                    <!--
                1) Use m-form--label-align-left class to alight the form input lables to the right
                2) Use m-form--state class to highlight input control borders on form validation
              -->
                    <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
                        <!--begin: Form Body -->
                        <div class="m-portlet__body">

                            <!--begin: Form Wizard Step 4-->
                            <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_4">
                                <div class="row">
                                    <div class="col-xl-10 offset-xl-1">
                                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_3">
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Daily Connection Limit</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 100</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Daily Followup Message Limit</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 100</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Delay between connections</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 5 mins</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Delay between Messages</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 5 mins</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <label>Schedule Time</label>
                                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Default">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left schedule-time">
                                <a href="" data-toggle="modal" data-target="#add_schedule">
                                  <span><i class="la  la-plus m--margin-top-10"></i></span></a>
                                                        </span>
                                                        <span class="m-input-icon__icon m-input-icon__icon--right schedule-time"><span><i class="la la-clock-o"></i></span></span>
                                                    </div>
                                                    <span class="m-form__help">Default is set M-F 8AM-5PM EST</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4-->
                            <!--end: Form Body -->
                        </div>

                        <!--begin: Form Actions -->
                        <div class="m-portlet__foot--fit">
                            <div class="m-form__actions campaign-detail-action">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-4 m--align-left">
                                        <a href="" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                            <span>
                            <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                            <span>Back</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 m--align-right" style="margin-left: 53px;">
                                        <a href="" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                            <span>
                            <i class="la la-check"></i>&nbsp;&nbsp;
                            <span>Submit</span>
                                            </span>
                                        </a>
                                        <a href="/outreach/campaigns" class="btn btn-info m-btn m-btn--custom m-btn--icon mr25" data-wizard-action="next">
                                            <span>
                            <i class="la la-times-circle"></i>
                            <span>Close</span>&nbsp;&nbsp;
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                </div>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>

<!-- schedule modal -->
<div class="modal fade show" id="add_schedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form class="m-form m-form--label-align-right">
                <div class="modal-body">
                    <h5>Schedule</h5>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-8">
                            <input type="text" class="form-control m-input" placeholder="Schedule Name" style="margin-top: 25px;">
                        </div>
                        <div class="col-md-4">
                            <label class="">All Schedules</label>
                            <select class="form-control m-input" id="exampleSelect1">
                                <option>Default</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <select class="form-control m-input">
                                <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
                                <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
                                <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
                                <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
                                <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                                <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
                                <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
                                <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                                <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
                                <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                                <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
                                <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                                <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
                                <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                                <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
                                <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
                                <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
                                <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
                                <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
                                <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                                <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
                                <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
                                <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
                                <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
                                <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
                                <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                                <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
                                <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
                                <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                                <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
                                <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
                                <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
                                <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                                <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
                                <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
                                <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
                                <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                                <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
                                <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
                                <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
                                <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                                <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
                                <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
                                <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
                                <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
                                <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                                <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                                <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
                                <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                                <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
                                <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                                <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
                                <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                                <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
                                <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
                                <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
                                <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
                                <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
                                <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
                                <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
                                <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                                <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
                                <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
                                <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
                                <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                                <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
                                <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="">Schedule Days</label>
                            <span class="m-form__help"> (please click on the days to select or unselect)</span>
                        </div>
                        <div class="col-lg-10 offset-lg-1">
                            <ul class="schedule-days" id="schedule_days">
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary active">Mon</button>
                                </li>
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary active">Tue</button>
                                </li>
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary active">Wed</button>
                                </li>
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary active">Thu</button>
                                </li>
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary active">Fri</button>
                                </li>
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary">Sat</button>
                                </li>
                                <li class="schedule-date">
                                    <button type="button" class="btn btn-secondary">Sun</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="">Schedule Time</label>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <div class="col-sm-8 offset-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control m-input" placeholder="9:30:00 AM" aria-describedby="basic-addon2" id="start_time_picker">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-clock-o"></i></span></div>
                                </div>
                                <span class="m-form__help">Starts at</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-sm-8 offset-sm-1">
                                <div class="input-group">
                                    <input type="text" class="form-control m-input" placeholder="5:30:00 PM" aria-describedby="basic-addon2" id="end_time_picker">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-clock-o"></i></span></div>
                                </div>
                                <span class="m-form__help">Ends at</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Schedule modal end! -->
