<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto"></div>
		<div>
		    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
		        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle create-new-campaign" style="margin-right: 40px;">
		            <i class="la la-plus"></i>
		        </a>
		        <div class="m-dropdown__wrapper" style="z-index: 101;">
		            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
		            <div class="m-dropdown__inner">
		                <div class="m-dropdown__body">
		                    <div class="m-dropdown__content">
		                        <ul class="m-nav">
		                            <li class="m-nav__item">
		                                <a routerLink="/outreach/setup" class="m-nav__link">
		                                    <i class="m-nav__link-icon flaticon-mail-1"></i>
		                                    <span class="m-nav__link-text">Create Campaign</span>
		                                </a>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content mcp">
	<div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 connection-lists">
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
		                      	Saved Search Results
		                    </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-portlet__nav-item--first">
								<div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" m-quicksearch-mode="default">
		                            <form class="m-header-search__form">
		                                <div class="m-header-search__wrapper">
		                                    <span class="m-header-search__icon-search" id="m_quicksearch_search">
		                          				<i class="flaticon-search"></i>
		                        			</span>
		                                    <span class="m-header-search__input-wrapper">
		                      					<input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
		                        			</span>
		                                    <span class="m-header-search__icon-close" id="m_quicksearch_close">
		                          				<i class="la la-remove"></i>
		                        			</span>
		                                    <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
		                          				<i class="la la-remove"></i>
		                        			</span>
		                                </div>
		                            </form>
		                        </div>
                            </li>
                            <li class="m-portlet__nav-item m-portlet__nav-item--last">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                        <i class="la la-gear"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" data-toggle="modal" data-target="#advanced_filter">
                                                                <i class="m-nav__link-icon la la-filter"></i>
                                                                <span class="m-nav__link-text">Add Filters</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" data-toggle="modal" data-target="#save_search">
                                                                <i class="m-nav__link-icon la la-save"></i>
                                                                <span class="m-nav__link-text">Save As</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="sendData()">
                                                                <i class="m-nav__link-icon la la-download"></i>
                                                                <span class="m-nav__link-text">Export</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="removeData()">
                                                                <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                                <span class="m-nav__link-text">Remove</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body search-result-list">
					<div class="table-row-select">
						<label class="m-checkbox m-checkbox--solid m-checkbox--info">
							<input type="checkbox" id="table_row_select_control" [(ngModel)]="isRowSelected" (change)="selectRow()">
							<select class="custom-select form-control" [(ngModel)]="pageSelection">
								<option value="all">
									Select All
								</option>
								<option value="page">
									Current Page
								</option>
							</select>
							<span style="margin-top: 8px;"></span>
						</label>
					</div>
                    <div class="m_datatable" id="json_data"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 connection-inbox">
            <div class="m-portlet  m-portlet--full-height ">
                <div class="m-portlet__body">
                    <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="820" style="overflow: visible; height: 820px; max-height: 820px; position: relative;">
                        <div>
                            <div class="m-card-profile">
                                <div class="m-card-profile__title m--hide">
                                    Your Profile
                                </div>
                                <div class="m-card-profile__pic">
                                    <div class="m-card-profile__pic-wrapper">
                                        <img src="{{profile.img}}" alt="" />
                                    </div>
                                </div>
                                <div class="m-card-profile__details">
                                    <span class="m-card-profile__name">{{profile.name}}</span>
                                    <a href="" class="m-card-profile__email m-link">{{profile.job}}</a>
                                    <ul class="contact-info m-nav m-nav--hover-bg m-portlet-fit--sides">
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                  <i class="m-nav__link-icon la la-linkedin-square contact-info-la"></i>
                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                  <i class="m-nav__link-icon la la-twitter-square contact-info-la"></i>
                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                  <i class="m-nav__link-icon la la-envelope contact-info-la"></i>
                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="'/inbox'" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                  <i class="m-nav__link-icon la flaticon-chat-1 contact-info-la"></i>
                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides profile-detail-info">
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__section m--hide">
                                <span class="m-nav__section-text">Section</span>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-placeholder"></i>
                                    <span class="m-nav__link-title">
                            <span class="m-nav__link-wrap">
                              <span class="m-nav__link-text">{{profile.city}}</span>
                                    </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon la la-university"></i>
                                    <span class="m-nav__link-text">{{profile.university}}</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon la la-users"></i>
                                    <span class="m-nav__link-text">{{profile.connections}}</span>
                                </a>
                            </li>
                        </ul>

                        <div class="m-portlet__body-separator"></div>

                        <div class="m-widget4">
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="{{profile.present_comp_img}}" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                        {{profile.title}}
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                        {{profile.present_company}}
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                        {{profile.dates_employed}}
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                        {{profile.present_span}}
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="{{profile.previous_comp_img}}" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                      {{profile.previous_title}}
                                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                      {{profile.previous_company}}
                                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                      {{profile.previous_dates_employed}}
                                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                      {{profile.previous_span}}
                                      </span>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="{{profile.previous_comp_img2}}" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                      {{profile.previous_title2}}
                                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                      {{profile.previous_company2}}
                                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                      {{profile.previous_dates_employed2}}
                                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                                      {{profile.previous_span2}}
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- begin Advanced search modal -->
    <div class="modal fade show" id="advanced_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="f.form.valid && advancedSearch()" #f="ngForm" action="">
                   <div class="modal-body">
                        <div class="form-group m-form__group row m--margin-top-25">
                            <div class="col-lg-12">
                                <h5>Advanced Search</h5>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6 m-form__group-sub">
                                <input type="text" class="form-control m-input" name="first_name" placeholder="First Name">
                            </div>
                            <div class="col-lg-6 m-form__group-sub">
                                <input type="text" class="form-control m-input" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6 m-form__group-sub">
                                <input type="text" class="form-control m-input" name="job_title" placeholder="Enter Job Title">
                            </div>
                            <div class="col-lg-6 m-form__group-sub">
                                <input type="text" class="form-control m-input" name="comapny_name" placeholder="Enter Company Name">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6 m-form__group-sub">
                                <input type="text" class="form-control m-input" name="industry" placeholder="Enter Industry">
                            </div>
                            <div class="col-lg-6 m-form__group-sub">
                                <input type="text" class="form-control m-input" name="location" placeholder="Enter Location">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <label>Exclude Companies</label>
                                <select class="form-control m-select2" id="m_select2_3" name="param" multiple="multiple">
                                        <option value="AK">Oracle</option>
                                        <option value="HI">SalesForce</option>
                                        <option value="CA">IBM</option>
                                        <option value="NV">Microsoft</option>
                                        <option value="OR">Facebook</option>
                                        <option value="WA">Tesla</option>
                                        <option value="AZ">Amazon</option>
                                        <option value="CO">SAP</option>
                                        <option value="ID">GetProfiles</option>
                                        <option value="MT">WeConnect</option>
                                        <option value="NE">Sales Inside Inc</option>
                                        <option value="NM">Adobe</option>
                                        <option value="ND">Netflix</option>
                                        <option value="UT">GSK</option>
                                        <option value="WY">Infosys</option>
                                        <option value="AL">247 Customer</option>
                                        <option value="AR">Hyperion</option>
                                        <option value="IL">TCS</option>
                                        <option value="IA">Hitachi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-primary advancd-search-btn">Search</button>
                        <!-- <button type="button" class="btn btn-primary">Search</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End modal -->
    <!-- begin Save search modal -->
    <div class="modal fade show" id="save_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <form class="m-form m-form--label-align-right" (ngSubmit)="f.form.valid && saveSearch()" #f="ngForm" action="">
                    <div class="modal-body">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <h5>Save Search</h5>
                            </div>
                        </div>
                        <span class="m-form__help">Save your time by viewing frequently accessed searches throuhg File Manager</span>
                        <div class="form-group m-form__group row m--margin-top-15">
                            <div class="col-lg-12">
                                <label class="form-control-label">* Search Name</label>
                                <input type="text" class="form-control m-input" name="search_name" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="save_loading" [ngClass]="{'m-loader m-loader--right m-loader--light': save_loading}" class="btn btn-primary save-search-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End modal -->
</div>
