<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto"></div>
	</div>
</div>
<!-- END: Subheader -->
<div class="">
	<div class="col-lg-12 col-sm-12 col-md-12 search-form">
	    <div class="m-portlet">
	        <div class="m-portlet__head">
	            <div class="m-portlet__head-caption">
	                <div class="m-portlet__head-title">
	                    <span class="m-portlet__head-icon m--hide">
	              <i class="la la-gear"></i>
	              </span>
	                    <h3 class="m-portlet__head-text">
	                Search Contacts
	              </h3>
	                </div>
	            </div>
	        </div>
	        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
	            <div class="m-portlet__body">
	                <div class="form-group m-form__group row input-keyword-form-group">
	                    <div class="col-lg-12">
	                        <input type="text" class="form-control m-input input-keyword" placeholder="Enter Keywords">
	                        <input type="button" class="form-control m-input search-btn" value="Search">
	                    </div>
	                </div>
	                <div class="form-group m-form__group row input-keyword-form-group">
	                    <div class="col-lg-12 advance-search-label col-md-12 col-sm-12">
	                        <h4 style="font-size: 1.3rem;">Advanced Search</h4>
	                    </div>
	                    <div class="col-lg-6 col-md-12 col-sm-12">
	                        <input type="email" class="form-control m-input advance-search-input" placeholder="First Name">
	                    </div>
	                    <div class="col-lg-6 col-md-12 col-sm-12">
	                        <input type="email" class="form-control m-input advance-search-input" placeholder="Last Name">
	                    </div>
	                    <div class="col-lg-6 col-md-12 col-sm-12">
	                        <input type="email" class="form-control m-input advance-search-input" placeholder="Enter Job Title">
	                    </div>
	                    <div class="col-lg-6 col-md-12 col-sm-12">
	                        <input type="email" class="form-control m-input advance-search-input" placeholder="Enter Company Name">
	                    </div>
	                    <div class="col-lg-6 col-md-12 col-sm-12">
	                        <input type="email" class="form-control m-input advance-search-input" placeholder="Enter Industry">
	                    </div>
	                    <div class="col-lg-6 col-md-12 col-sm-12">
	                        <input type="email" class="form-control m-input advance-search-input" placeholder="Enter Location">
	                    </div>
	                    <div class="col-lg-12 col-md-12 col-sm-12">
	                        <a routerLink="/search/searchresults" class="btn btn-primary advance-search-submit">Submit</a>
	                    </div>

	                    <div class="col-lg-6 col-md-12">
	                        <h3 class="csor">OR</h3>
	                    </div>
	                </div>
	                <div class="form-group m-form__group row input-keyword-form-group">
	                    <div class="col-lg-12 col-md-12 col-sm-12">
	                        <h4 style="font-size: 1.3rem;">Search By URL</h4>
	                    </div>
	                    <div class="col-lg-12 col-md-12 col-sm-12">
	                        <ul id="m_quick_sidebar_tabs" class="search-by-url nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
	                            <li class="nav-item m-tabs__item">
	                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#search_linkedin" role="tab">Linkedin URL</a>
	                            </li>
	                            <li class="nav-item m-tabs__item">
	                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#search_sales_navigator" role="tab">Sales Navigator URL</a>
	                            </li>
	                            <li class="nav-item m-tabs__item">
	                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#search_linkedin_recruiter" role="tab">LinkedIn Recruiter URL</a>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="col-lg-12 col-md-12 col-sm-12">
	                        <div class="tab-content">
	                            <div class="tab-pane active m-input-icon m-input-icon--right" id="search_linkedin" role="tabpanel">
	                                <input type="text" class="form-control m-input" placeholder="Insert Linkedin search page URL">
	                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-search"></i></span></span>

	                            </div>
	                            <div class="tab-pane m-input-icon m-input-icon--right" id="search_sales_navigator" role="tabpanel">
	                                <input type="text" class="form-control m-input" placeholder="Insert Sales Navigator search page URL">
	                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-search"></i></span></span>
	                            </div>
	                            <div class="tab-pane m-input-icon m-input-icon--right" id="search_linkedin_recruiter" role="tabpanel">
	                                <input type="text" class="form-control m-input" placeholder="Insert LinkedIn Recruiter search page URL">
	                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-search"></i></span></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </form>
	    </div>
	</div>
</div>
