<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle create-new-campaign" style="margin-right: 40px;">
                        <i class="la la-plus"></i>
                    </a>
                    <div class="m-dropdown__wrapper" style="z-index: 101;">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__item">
                                            <a href="/outreach/setup" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-mail"></i>
                                                <span class="m-nav__link-text">Create Campaign</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content mcp">

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 connection-lists">
                <div class="m-portlet m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Who's viewed your profile
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-portlet__nav-item--first">
                                    <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" m-quicksearch-mode="default">
                                        <form class="m-header-search__form">
                                            <div class="m-header-search__wrapper">
                                                <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                          <i class="flaticon-search"></i>
                                        </span>
                                                <span class="m-header-search__input-wrapper">
                                          <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
                                        </span>
                                                <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                          <i class="la la-remove"></i>
                                        </span>
                                                <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                          <i class="la la-remove"></i>
                                        </span>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="m-portlet__nav-item m-portlet__nav-item--last">
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                            <i class="la la-gear"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link" data-toggle="modal" data-target="#save_search">
                                                                    <i class="m-nav__link-icon la la-save"></i>
                                                                    <span class="m-nav__link-text">Save As</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="" class="m-nav__link">
                                                                    <i class="m-nav__link-icon la la-download"></i>
                                                                    <span class="m-nav__link-text">Export</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="table-row-select"></div>
                        <div class="m_datatable" id="json_data"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 connection-inbox">
                <div class="m-portlet  m-portlet--full-height ">
                    <div class="m-portlet__body">
                        <div>
                            <div class="m-card-profile">
                                <div class="m-card-profile__title m--hide">
                                    Your Profile
                                </div>
                                <div class="m-card-profile__pic">
                                    <div class="m-card-profile__pic-wrapper">
                                        <img src="assets/app/media/img/users/user4.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="m-card-profile__details">
                                    <span class="m-card-profile__name">Mark Andre</span>
                                    <a href="" class="m-card-profile__email m-link">Chief Financial Officer</a>
                                    <ul class="contact-info m-nav m-nav--hover-bg m-portlet-fit--sides">
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                              <i class="m-nav__link-icon la la-linkedin-square contact-info-la"></i>
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                              <i class="m-nav__link-icon la la-twitter-square contact-info-la"></i>
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                              <i class="m-nav__link-icon la la-envelope contact-info-la"></i>
                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                              <i class="m-nav__link-icon la flaticon-chat-1 contact-info-la"></i>
                            </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides profile-detail-info">
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__section m--hide">
                                <span class="m-nav__section-text">Section</span>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-time-3"></i>
                                    <span class="m-nav__link-title">
                        <span class="m-nav__link-wrap">
                          <span class="m-nav__link-text">New York</span>
                                    </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                    <span class="m-nav__link-text">Activity</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                                    <span class="m-nav__link-text">Harvard University</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-share"></i>
                                    <span class="m-nav__link-text">500+ Connections</span>
                                </a>
                            </li>
                        </ul>

                        <div class="m-portlet__body-separator"></div>

                        <div class="m-widget4">
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="assets/app/media/img/client-logos/logo4.png" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                      Chief Financial Officer
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      Google Corp
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      Jul 2015 - present
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      (3 yrs 2 mos)
                      </span>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="assets/app/media/img/client-logos/logo2.png" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                      Finance Controller
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      Oracle Corporation
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      Jun 2012 - Jun 2015
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      (3 yrs)
                      </span>
                                </div>
                            </div>
                            <div class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="assets/app/media/img/client-logos/logo1.png" alt="">
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                      Chief Financial Officer
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      Google Corp
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      Jul 2015 - present
                      </span>
                                    <br>
                                    <span class="m-widget4__sub">
                      (3 yrs 2 mos)
                      </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- begin Advanced search modal -->
<div class="modal fade show" id="advanced_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="form-group m-form__group row m--margin-top-25">
                        <div class="col-lg-12">
                            <h5>Advanced Search</h5>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="First Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Enter Job Title">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Enter Company Name">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Enter Industry">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control m-input" placeholder="Enter Location">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
<!-- begin Save search modal -->
<div class="modal fade show" id="save_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="m-form m-form--label-align-right">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <h5>Save Search</h5>
                        </div>
                    </div>
                    <span class="m-form__help">Save your time by viewing frequently accessed searches throuhg File Manager</span>
                    <div class="form-group m-form__group row m--margin-top-15">
                        <div class="col-lg-12">
                            <label>Search Name</label>
                            <input type="text" class="form-control m-input" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
