<div class="col-lg-12 col-sm-12 col-md-12 campaign-section">
    <div class="m-portlet m-portlet--full-height">
        <!--begin: Portlet Head-->
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                {{campaignName}}
              </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="javascipt:;" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                            <i class="flaticon-info m--icon-font-size-lg3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end: Portlet Head-->

        <!--begin: Portlet Body-->
        <div class="m-portlet__body m-portlet__body--no-padding">

            <!--begin: Form Wizard-->
            <div class="m-wizard m-wizard--3 m-wizard--success" id="m_wizard">

                <!--begin: Message container -->
                <div class="m-portlet__padding-x">
                    <!-- Here you can put a message or alert -->
                </div>
                <!--end: Message container -->

                <div class="row m-row--no-padding">
                    <div class="col-xl-3 col-lg-12">
                        <!--begin: Form Wizard Head -->
                        <div class="m-wizard__head">

                            <!--begin: Form Wizard Progress -->
                            <div class="m-wizard__progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                </div>
                            </div>
                            <!--end: Form Wizard Progress -->

                            <!--begin: Form Wizard Nav -->
                            <div class="m-wizard__nav">
                                <ng-container *ngIf="campaigntype == 'Endorse Contacts' || campaigntype == 'Auto Follow' || campaigntype == 'Visit Profiles'; else other_m_wizar_nav">
                                    <div  class="m-wizard__steps">
                                        <div class="m-wizard__step m-wizard__step--done" m-wizard-target="m_wizard_form_step_1">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>1</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Setup
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_2">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>2</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Settings
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>3</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Launch
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #other_m_wizar_nav>
                                    <div class="m-wizard__steps">
                                        <div class="m-wizard__step m-wizard__step--done" m-wizard-target="m_wizard_form_step_1">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>1</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Setup
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step m-wizard__step--done" m-wizard-target="m_wizard_form_step_2">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>2</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Sequences
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_3">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>3</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Settings
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_4">
                                            <div class="m-wizard__step-info">
                                                <a href="javascipt:;" class="m-wizard__step-number">
                                                    <span><span>4</span></span>
                                                </a>
                                                <div class="m-wizard__step-line">
                                                    <span></span>
                                                </div>
                                                <div class="m-wizard__step-label">
                                                    Launch
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <!--end: Form Wizard Nav -->
                        </div>
                        <!--end: Form Wizard Head -->
                    </div>
                    <div class="col-xl-9 col-lg-12">
                        <!--begin: Form Wizard Form-->
                        <div class="m-wizard__form">
                            <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                  -->
                            <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
                                <!--begin: Form Body -->
                                <div class="m-portlet__body m-portlet__body--no-padding">
                                    <ng-container *ngIf="campaigntype == 'Endorse Contacts'; else second">
                                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_3">
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Daily Endorsement Limit</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1" id="daily_endorse_limit" [ngModel]="daily_endorse_limit" name="daily_endorse_limit">
                                                    </div>
                                                    <span class="m-form__help settings-help">Safe 100</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Delay between Endorsement</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1" id="delay_between_endorse" [ngModel]="delay_between_endorse" name="delay_between_endorse">
                                                    </div>
                                                    <span class="m-form__help settings-help">Safe 5 Mins</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Maximum Skills to Endorse</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="3 Skills" aria-describedby="basic-addon1" id="max_skills_endorse" [ngModel]="max_skills_endorse" name="max_skills_endorse">
                                                    </div>
                                                    <span class="m-form__help settings-help">Safe 3 Skills</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <label>Schedule Time</label>
                                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Default">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left schedule-time">
                                                            <a href="javascipt:;" data-toggle="modal" data-target="#add_schedule">
                                                                <span><i class="la la-plus m--margin-top-10"></i></span>
                                                            </a>
                                                        </span>
                                                        <span class="m-input-icon__icon m-input-icon__icon--right schedule-time"><span><i class="la la-clock-o"></i></span></span>
                                                    </div>
                                                    <span class="m-form__help">Default is set M-F 8AM-5PM EST</span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #second>
                                        <ng-container *ngIf="campaigntype == 'Auto Follow'; else third">
                                            <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_3">
                                                <div class="form-group m-form__group">
                                                    <div class="col-lg-6 offset-lg-3">
                                                        <div class="input-group m-input-group">
                                                            <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Daily Follow Limit</span></div>
                                                            <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1" id="daily_follow_limit" [ngModel]="daily_follow_limit" name="daily_follow_limit">
                                                        </div>
                                                        <span class="m-form__help settings-help">Safe 100</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group">
                                                    <div class="col-lg-6 offset-lg-3">
                                                        <div class="input-group m-input-group">
                                                            <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Delay between each Follow</span></div>
                                                            <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1" id="delay_between_follow" [ngModel]="delay_between_follow" name="delay_between_follow">
                                                        </div>
                                                        <span class="m-form__help settings-help">Safe 5 Mins</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group">
                                                    <div class="col-lg-6 offset-lg-3">
                                                        <label>Schedule Time</label>
                                                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                                            <input type="text" class="form-control m-input m-input--solid" placeholder="Default">
                                                            <span class="m-input-icon__icon m-input-icon__icon--left schedule-time">
                                                                <a href="javascipt:;" data-toggle="modal" data-target="#add_schedule">
                                                                    <span><i class="la la-plus m--margin-top-10"></i></span>
                                                                </a>
                                                            </span>
                                                            <span class="m-input-icon__icon m-input-icon__icon--right schedule-time"><span><i class="la la-clock-o"></i></span></span>
                                                        </div>
                                                        <span class="m-form__help">Default is set M-F 8AM-5PM EST</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #third>
                                        <ng-container *ngIf="campaigntype == 'Visit Profiles'; else normal">
                                            <div class="form-group m-form__group">
                                                    <div class="col-lg-6 offset-lg-3">
                                                        <div class="input-group m-input-group">
                                                            <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Daily Visit Profile Limit</span></div>
                                                            <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1" id="daily_visit_profile_limit" [ngModel]="daily_visit_profile_limit" name="daily_visit_profile_limit">
                                                        </div>
                                                        <span class="m-form__help settings-help">Safe 100</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group">
                                                    <div class="col-lg-6 offset-lg-3">
                                                        <div class="input-group m-input-group">
                                                            <div class="input-group-prepend mw75"><span class="input-group-text safe-input" id="basic-addon1">Delay between each Profile Visit</span></div>
                                                            <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1" id="delay_between_visit_profile" [ngModel]="delay_between_visit_profile" name="delay_between_visit_profile">
                                                        </div>
                                                        <span class="m-form__help settings-help">Safe 5 Mins</span>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group">
                                                    <div class="col-lg-6 offset-lg-3">
                                                        <label>Schedule Time</label>
                                                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                                            <input type="text" class="form-control m-input m-input--solid" placeholder="Default">
                                                            <span class="m-input-icon__icon m-input-icon__icon--left schedule-time">
                                                                <a href="javascipt:;" data-toggle="modal" data-target="#add_schedule">
                                                                    <span><i class="la la-plus m--margin-top-10"></i></span>
                                                                </a>
                                                            </span>
                                                            <span class="m-input-icon__icon m-input-icon__icon--right schedule-time"><span><i class="la la-clock-o"></i></span></span>
                                                        </div>
                                                        <span class="m-form__help">Default is set M-F 8AM-5PM EST</span>
                                                    </div>
                                                </div>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #normal>
                                        <!--begin: Form Wizard Step 3-->
                                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_3">
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Daily Connection Limit</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1" id="daily_connection_limit" [ngModel]="daily_connection_limit" name="daily_connection_limit">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 100</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Daily Followup Message Limit</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="100" aria-describedby="basic-addon1" id="daily_follow_message" [ngModel]="daily_follow_message" name="daily_follow_message">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 100</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Delay between connections</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1" id="delay_between_connections" [ngModel]="delay_between_connections" name="delay_between_connections">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 5 mins</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <div class="input-group m-input-group ">
                                                        <div class="input-group-prepend mw75"><span class="input-group-text safe-input">Delay between Messages</span></div>
                                                        <input type="text" class="form-control m-input mw25" placeholder="5 mins" aria-describedby="basic-addon1" id="delay_between_messages" [ngModel]="delay_between_messages" name="delay_between_messages">
                                                    </div>
                                                    <span class="m-form__help ml310">Safe 5 mins</span>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="col-lg-6 offset-lg-3">
                                                    <label>Schedule Time</label>
                                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Default">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left schedule-time">
                                                            <a href="javascipt:;" data-toggle="modal" data-target="#add_schedule">
                                                                <span><i class="la    la-plus m--margin-top-10"></i></span>
                                                            </a>
                                                        </span>
                                                        <span class="m-input-icon__icon m-input-icon__icon--right schedule-time"><span><i class="la la-clock-o"></i></span></span>
                                                    </div>
                                                    <span class="m-form__help">Default is set M-F 8AM-5PM EST</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Form Wizard Step 3-->
                                    </ng-template>

                                </div>
                                <!--end: Form Body -->
                                <!--begin: Form Actions -->
                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-6 m--align-left">
                                                <a class="btn btn-secondary m-btn m-btn--custom m-btn--icon compaign-prev-btn" data-wizard-action="prev" (click)="goBack()">
                                                    <span>
                                                        <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                        <span>Back</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 m--align-right">
                                                <a href="javascipt:;" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                                    <span>
                                                        <i class="la la-check"></i>&nbsp;&nbsp;
                                                        <span>Submit</span> 
                                                    </span>
                                                </a>
                                                <a class="btn btn-success m-btn m-btn--custom m-btn--icon save-continue-btn" data-wizard-action="next" (click)="saveCampaignName()">
                                                    <span>
                                                        <span>Save & Continue</span>&nbsp;&nbsp;
                                                        <i class="la la-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Actions -->
                            </form>
                        </div>
                        <!--end: Form Wizard Form-->

                    </div>
                </div>
            </div>
            <!--end: Form Wizard-->

        </div>
        <!--end: Portlet Body-->
    </div>
</div>

<!-- schedule modal -->
<div class="modal fade show" id="add_schedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form class="m-form m-form--label-align-right" (ngSubmit)="f.form.valid && saveSchedule()" #f="ngForm" action="">
                <div class="modal-body">
                    <h5>Schedule</h5>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-8">
                            <input type="text" class="form-control m-input" [ngModel]="schedulename" name="schedule_name" placeholder="Schedule Name" style="margin-top: 25px;">
                        </div>
                        <div class="col-md-4">
                            <label class="">All Schedules</label>
                            <select class="form-control m-input" id="exampleSelect1" [(ngModel)]="selectedschedule" name="schedule_list" (change)="selectSchedule($event.target.value)">
                                <option value="0" >Default</option>
                                <option *ngFor="let schedule of schedules" [value]="schedule.id">{{schedule.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <select class="form-control m-input" [(ngModel)]="selectedtimezone" name="timezone_list">
                                <option *ngFor="let timezone of timezones" [value]="timezone.value">{{timezone.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="">Schedule Days</label>
                            <span class="m-form__help"> (please click on the days to select or unselect)</span>
                        </div>
                        <div class="col-lg-10 offset-lg-1">
                            <ul class="schedule-days" id="schedule_days">
                                <li *ngFor="let day of days" class="schedule-date">
                                    <button type="button" class="btn btn-secondary {{day.state}}">{{day.day}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="">Schedule Time</label>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <div class="col-sm-8 offset-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control m-input" [ngModel]="selectedStartAt" placeholder="9:30:00 AM" aria-describedby="basic-addon2" id="start_time_picker" name="start_at">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-clock-o"></i></span></div>
                                </div>
                                <span class="m-form__help">Starts at</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-sm-8 offset-sm-1">
                                <div class="input-group">
                                    <input type="text" class="form-control m-input" [ngModel]="selectedEndAt" placeholder="5:30:00 PM" aria-describedby="basic-addon2" id="end_time_picker" name="end_at">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-clock-o"></i></span></div>
                                </div>
                                <span class="m-form__help">Ends at</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mr-auto add-new-schedule-btn" (click)="TriggerModal">Add New</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-primary schedule-save-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Schedule modal end! -->

<!-- Add new schedule modal -->
<div class="modal fade show" id="add_new_schedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form class="m-form m-form--label-align-right" (ngSubmit)="f.form.valid && addNewSchedule()" #f="ngForm" action="">
                <div class="modal-body">
                    <h5>New Schedule</h5>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-8">
                            <input type="text" class="form-control m-input" [ngModel]="addschedulename" name="add_schedule_name" placeholder="Schedule Name" style="margin-top: 25px;">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <select class="form-control m-input" [(ngModel)]="selectedtimezone" name="timezone_list">
                                <option *ngFor="let timezone of timezones" [value]="timezone.value">{{timezone.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="">Schedule Days</label>
                            <span class="m-form__help"> (please click on the days to select or unselect)</span>
                        </div>
                        <div class="col-lg-10 offset-lg-1">
                            <ul class="schedule-days" id="schedule_days">
                                <li *ngFor="let day of days" class="schedule-date">
                                    <button type="button" class="btn btn-secondary {{day.state}}">{{day.day}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="">Schedule Time</label>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <div class="col-sm-8 offset-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control m-input" [ngModel]="selectedStartAt" placeholder="9:30:00 AM" aria-describedby="basic-addon2" id="start_time_picker" name="start_at">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-clock-o"></i></span></div>
                                </div>
                                <span class="m-form__help">Starts at</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-sm-8 offset-sm-1">
                                <div class="input-group">
                                    <input type="text" class="form-control m-input" [ngModel]="selectedEndAt" placeholder="5:30:00 PM" aria-describedby="basic-addon2" id="end_time_picker" name="end_at">
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-clock-o"></i></span></div>
                                </div>
                                <span class="m-form__help">Ends at</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="new_loading" [ngClass]="{'m-loader m-loader--right m-loader--light': new_loading}" class="btn btn-primary add-schedule-save-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>