<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">

		</div>
		<div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content mcp">
	<!--Begin::Section-->
	<div class="row">
	    <div class="col-xl-3">
	        <!--begin:: Widgets/Sales Stats-->
	        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
	            <div class="m-portlet__head">
	                <div class="m-portlet__head-caption">
	                </div>
	                <div class="m-portlet__head-tools">
	                    <ul class="m-portlet__nav">
	                        <li class="m-portlet__nav-item m-portlet__nav-item--last">
	                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
	                                <a href="" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
	                                    <i class="la la-gear"></i>
	                                </a>
	                                <div class="m-dropdown__wrapper">
	                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	                                    <div class="m-dropdown__inner">
	                                        <div class="m-dropdown__body">
	                                            <div class="m-dropdown__content">
	                                                <ul class="m-nav">
	                                                    <li class="m-nav__item">
	                                                        <a href="" class="m-nav__link" id="pause_account" data-toggle="modal" data-target="#pause_account_now">
	                                                            <i class="m-nav__link-icon la la-pause"></i>
	                                                            <span class="m-nav__link-text">Pause Account</span>
	                                                        </a>
	                                                    </li>
	                                                    <li class="m-nav__item">
	                                                        <a href="" class="m-nav__link" id="delete_account" data-toggle="modal" data-target="#delete_account_now">
	                                                            <i class="m-nav__link-icon la la-trash"></i>
	                                                            <span class="m-nav__link-text">Delete Account</span>
	                                                        </a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="m-portlet__body">
	                <!--begin::Widget 6-->
	                <div class="profile-connection">
	                    <div class="m-card-profile">
	                        <div class="m-card-profile__pic">
	                            <div class="m-card-profile__pic-wrapper">
	                                <img src="{{profile.img}}" alt="" />
	                            </div>
	                        </div>
	                        <div class="m-card-profile__details">
	                            <span class="m-card-profile__name">{{profile.First_Name}} {{profile.Last_Name}}</span>
	                            <span class="m-card-profile__intro">{{profile.Headline}}</span>
	                        </div>
	                    </div>
	                    <div class="m-widget1 connections-content" style="padding: 0">
	                        <div class="m-widget1__item">
	                            <div class="row m-row--no-padding align-items-center">
	                                <div class="col">
	                                    <h3 class="m-widget1__title" style="font-size: 0.9rem;">Connections</h3>
	                                </div>
	                                <div class="col m--align-right">
	                                    <span class="m-widget1__number m--font-brand connections-count">{{profile.Connections}}</span>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="m-widget1__item">
	                            <div class="row m-row--no-padding align-items-center">
	                                <div class="col">
	                                    <h3 class="m-widget1__title" style="font-size: 0.9rem;">Pending Requests</h3>
	                                </div>
	                                <div class="col m--align-right">
	                                    <span class="m-widget1__number m--font-success pending-requests">{{profile.Pending_Requests}}</span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!--end::Widget 6-->
	            </div>
	        </div>
	    </div>
	    <div class="col-xl-9">
	        <div class="row">
	            <div class="col-xl-6">
	                <div class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " style="min-height: 210px">
	                    <div class="m-widget20">
	                        <div class="m-widget20__number m--font-success">{{stats.Connection_Requests}}</div>
                        	<span class="dashboard-chart" style="margin-left: 10px;">Connection Requests</span>
	                        <div class="m-widget20__chart" style="height:160px;">
	                            <canvas id="m_chart_bandwidth1"></canvas>
	                        </div>
	                    </div>
	                </div>
	                <div class="m--space-30"></div>
	                <div class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " style="min-height: 210px">
	                    <div class="m-portlet__body">
	                        <div class="m-widget20">
	                            <div class="m-widget20__number m--font-warning">{{stats.Connected}}</div>
	                            <span class="dashboard-chart" style="margin-left: 25px;">Connected</span>
	                            <div class="m-widget20__chart" style="height:160px;">
	                                <canvas id="m_chart_bandwidth2"></canvas>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xl-6">
	                <div class="m-portlet m-portlet--full-height m-portlet--fit ">
	                    <div class="m-portlet__head">
	                        <div class="m-portlet__head-caption">
	                            <div class="m-portlet__head-title">
	                                <h3 class="m-portlet__head-text">
	                          Stats
	                        </h3>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="m-portlet__body">
	                        <!--begin::Widget5-->
	                        <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 325px">
	                            <div class="m-widget4__item">
	                                <div class="m-widget4__info">
	                                    <span class="m-widget4__title">
			                          		Connection Requests
			                          	</span>
	                                </div>
	                                <span class="m-widget4__ext">
	                          <span class="m-widget4__number m--font-brand">{{stats.Connection_Requests}}</span>
	                                </span>
	                            </div>
	                            <div class="m-widget4__item">
	                                <div class="m-widget4__info">
	                                    <span class="m-widget4__title">
	                          				Connected
	                          			</span>
	                                </div>
	                                <span class="m-widget4__ext">
	                          <span class="m-widget4__number m--font-brand">{{stats.Connected}}</span>
	                                </span>
	                            </div>
	                            <div class="m-widget4__item">
	                                <div class="m-widget4__info">
	                                    <span class="m-widget4__title">
	                          				Contacts Endorsed
	                          			</span>
	                                </div>
	                                <span class="m-widget4__ext">
	                          <span class="m-widget4__number m--font-brand">{{stats.Contacts_Endorsed}}</span>
	                                </span>
	                            </div>
	                            <div class="m-widget4__item">
	                                <div class="m-widget4__info">
	                                    <span class="m-widget4__title">
	                          				Contacts Followed
	                          			</span>
	                                </div>
	                                <span class="m-widget4__ext">
	                          <span class="m-widget4__number m--font-brand">{{stats.Contacts_Followed}}</span>
	                                </span>
	                            </div>
	                            <div class="m-widget4__item">
	                                <div class="m-widget4__info">
	                                    <span class="m-widget4__title">
	                          				Replied to Connection
	                          			</span>
	                                </div>
	                                <span class="m-widget4__ext">
	                          <span class="m-widget4__number m--font-brand">{{stats.Replied_to_Connection}}</span>
	                                </span>
	                            </div>
	                            <div class="m-widget4__item">
	                                <div class="m-widget4__info">
	                                    <span class="m-widget4__title">
	                          				Replied to Messages
	                          			</span>
	                                </div>
	                                <span class="m-widget4__ext">
	                          <span class="m-widget4__number m--font-brand">{{stats.Replied_to_Messages}}</span>
	                                </span>
	                            </div>
	                        </div>
	                        <!--end::Widget 5-->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<!--Begin::Section-->
	<div class="row">
	    <div class="col-xl-6 col-lg-12">
	        <div class="m-portlet  m-portlet--full-height ">
	            <div class="m-portlet__head">
	                <div class="m-portlet__head-caption">
	                    <div class="m-portlet__head-title">
	                        <h3 class="m-portlet__head-text">
	                      		Recent Activities
                    		</h3>
	                    </div>
	                </div>
	                <div class="m-portlet__head-tools">
	                    <ul class="m-portlet__nav">
	                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
	                            <a href="javascript:;" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
	                                <i class="la la-ellipsis-h m--font-brand"></i>
	                            </a>
	                            <div class="m-dropdown__wrapper">
	                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	                                <div class="m-dropdown__inner">
	                                    <div class="m-dropdown__body">
	                                        <div class="m-dropdown__content">
	                                            <ul class="m-nav">
	                                                <li class="m-nav__item">
	                                                    <a href="/notification" class="m-nav__link">
	                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
	                                                        <span class="m-nav__link-text">View All</span>
	                                                    </a>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
				<div class="m-portlet__body">
					<div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="380" style="overflow: visible; height: 380px; max-height: 380px; position: relative;">
						<!--Begin::Timeline 2 -->
						<div class="m-timeline-2">
							<div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
								<ng-container *ngFor="let notification of notifications">
									<div *ngIf="notification.id == 0; else other_notification" class="m-timeline-2__item">
										<span class="m-timeline-2__item-time">
											{{notification.time}}
										</span>
										<div class="m-timeline-2__item-cricle">
											<i class="fa fa-genderless m--font-{{notification.status}}"></i>
										</div>
										<div *ngIf="notification.font != 'bold'; else other_content" class="m-timeline-2__item-text  m--padding-top-5">
											{{notification.content1}}
											<a href="#" class="m-link m-link--brand m--font-bolder">
												{{notification.link}}
											</a>
											{{notification.content2}}
										</div>
										<ng-template #other_content>
	                                        <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
	                                        	{{notification.content1}}
												<a href="#" class="m-link m-link--brand m--font-bolder">
													{{notification.link}}
												</a>
												{{notification.content2}}
	                                        </div>
	                                    </ng-template>
	                                    <div class="m-list-pics m-list-pics--sm m--padding-left-20">
	                                    	<ng-container  *ngFor="let img of notification.imgs">
												<a href="#">
													<img src="{{img.img}}" title="">
												</a>
	                                    	</ng-container>
										</div>
									</div>
									<ng-template #other_notification>
										<div class="m-timeline-2__item m--margin-top-30">
											<span class="m-timeline-2__item-time">
												{{notification.time}}
											</span>
											<div class="m-timeline-2__item-cricle">
												<i class="fa fa-genderless m--font-{{notification.status}}"></i>
											</div>
											<div *ngIf="notification.font != 'bold'; else other_content" class="m-timeline-2__item-text  m--padding-top-5">
												{{notification.content1}}
												<a href="#" class="m-link m-link--brand m--font-bolder">
													{{notification.link}}
												</a>
												{{notification.content2}}
											</div>
											<ng-template #other_content>
		                                        <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
		                                        	{{notification.content1}}
													<a href="#" class="m-link m-link--brand m--font-bolder">
														{{notification.link}}
													</a>
													{{notification.content2}}
		                                        </div>
		                                    </ng-template>
		                                    <div class="m-list-pics m-list-pics--sm m--padding-left-20">
												<ng-container  *ngFor="let img of notification.imgs">
													<a href="#">
														<img src="{{img.img}}" title="">
													</a>
		                                    	</ng-container>
											</div>
										</div>
									</ng-template>
								</ng-container>
							</div>
						</div>
						<!--End::Timeline 2 -->
					</div>
				</div>
	        </div>
	    </div>
	    <div class="col-xl-6 col-lg-12">
	        <div class="m-portlet m-portlet--full-height ">
	            <div class="m-portlet__head">
	                <div class="m-portlet__head-caption">
	                    <div class="m-portlet__head-title">
	                        <h3 class="m-portlet__head-text">
	                      Who's viewed your profile
	                    </h3>
	                    </div>
	                </div>
	                <div class="m-portlet__head-tools">
	                    <ul class="m-portlet__nav">
	                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
	                            <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
	                                <i class="la la-ellipsis-h m--font-brand"></i>
	                            </a>
	                            <div class="m-dropdown__wrapper">
	                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	                                <div class="m-dropdown__inner">
	                                    <div class="m-dropdown__body">
	                                        <div class="m-dropdown__content">
	                                            <ul class="m-nav">
	                                                <li class="m-nav__item">
	                                                    <a href="/who-viewed-your-profile" class="m-nav__link">
	                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
	                                                        <span class="m-nav__link-text">View All</span>
	                                                    </a>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="m-portlet__body">
	                <div *ngFor="let viewedprofile of viewedprofiles" class="m-widget3">
	                	<div class="m-widget3__item">
	                        <div class="m-widget3__header">
	                            <div class="m-widget3__user-img">
	                                <img class="m-widget3__img" src="{{viewedprofile.img}}" alt="">
	                            </div>
	                            <div class="m-widget3__info">
	                                <span class="m-widget3__username">
			                        	{{viewedprofile.name}}
			                        </span><br>
			                        <span class="m-widget3__time">
			                        {{viewedprofile.job}}
			                        </span>
	                                <br>
	                                <span class="m-widget3__time">
			                        {{viewedprofile.when}}
			                        </span>
	                            </div>
	                            <ng-container *ngIf="viewedprofile.button_action == 'connect'; else other_span">
		                            <span class="m-widget3__status m--font-info">
		                      			<button href="javascript:;" [disabled]="connection_loading" [ngClass]="{'m-loader m-loader--right m-loader--light': connection_loading}" class="btn btn-outline-primary btn-sm m-btn m-btn--icon" id="security_pin" (click)="selectViewProfileConnectID(viewedprofile.id)">
		                          			<span>
		                            			<i class="la la-link"></i>
		                            			<span>Connect</span>
		                            		</span>
		                            	</button>
		                            </span>
	                            </ng-container>
	                            <ng-template #other_span>
	                            	<span class="m-widget3__status m--font-success">
				                      	<button [disabled]="message_loading" [ngClass]="{'m-loader m-loader--right m-loader--light': message_loading}" class="btn btn-outline-success btn-sm m-btn m-btn--icon" (click)="selectmessageID(viewedprofile.id)">
				                          	<span>
					                            <i class="flaticon-chat-1"></i>
					                            <span>Message</span>
			                            	</span>
		                            	</button>
		                            </span>
	                            </ng-template>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<!--Begin::Section 2-->
	<div class="row">
	    <div class="col-xl-6 col-lg-12">
	        <div class="m-portlet m-portlet--full-height ">
	            <div class="m-portlet__head">
	                <div class="m-portlet__head-caption">
	                    <div class="m-portlet__head-title">
	                        <h3 class="m-portlet__head-text">
	                      Pending Requests
	                    </h3>
	                    </div>
	                </div>
	                <div class="m-portlet__head-tools">
	                    <ul class="m-portlet__nav">
	                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
	                            <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
	                                <i class="la la-ellipsis-h m--font-brand"></i>
	                            </a>
	                            <div class="m-dropdown__wrapper">
	                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	                                <div class="m-dropdown__inner">
	                                    <div class="m-dropdown__body">
	                                        <div class="m-dropdown__content">
	                                            <ul class="m-nav">
	                                                <li class="m-nav__item">
	                                                    <a href="/pending-requests" class="m-nav__link">
	                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
	                                                        <span class="m-nav__link-text">View All</span>
	                                                    </a>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="m-portlet__body">
	                <div *ngFor="let request of requests" class="m-widget3">
	                	<div class="m-widget3__item">
	                        <div class="m-widget3__header">
	                            <div class="m-widget3__user-img">
	                                <img class="m-widget3__img" src="{{request.img}}" alt="">
	                            </div>
	                            <div class="m-widget3__info">
	                                <span class="m-widget3__username">
	                        			{{request.name}}
	                        		</span>
	                        		<br>
	                        		<span class="m-widget3__time">
	                        			{{request.job}}
	                        		</span>
	                                <br>
	                                <span class="m-widget3__time">
	                        			{{request.when}}
	                        		</span>
	                            </div>
	                            <span class="m-widget3__status" style="color: #fd7e14;">
	                            	<button [disabled]="request_loading" [ngClass]="{'m-loader m-loader--right m-loader--light': request_loading}" class="btn btn-outline-danger btn-sm m-btn m-btn--icon" (click)="selectrequestID(request.id)">
	                          			<span>
	                            			<i class="la la-remove"></i>
	                            			<span>{{request.button}}</span>
	                            		</span>
	                            	</button>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="col-xl-6 col-lg-12">
	        <div class="m-portlet m-portlet--full-height ">
	            <div class="m-portlet__head">
	                <div class="m-portlet__head-caption">
	                    <div class="m-portlet__head-title">
	                        <h3 class="m-portlet__head-text">
	                      People you may know
	                    </h3>
	                    </div>
	                </div>
	                <div class="m-portlet__head-tools">
	                    <ul class="m-portlet__nav">
	                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
	                            <a href="" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
	                                <i class="la la-ellipsis-h m--font-brand"></i>
	                            </a>
	                            <div class="m-dropdown__wrapper">
	                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	                                <div class="m-dropdown__inner">
	                                    <div class="m-dropdown__body">
	                                        <div class="m-dropdown__content">
	                                            <ul class="m-nav">
	                                                <li class="m-nav__item">
	                                                    <a href="/people-you-may-know" class="m-nav__link">
	                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
	                                                        <span class="m-nav__link-text">View All</span>
	                                                    </a>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="m-portlet__body">
	                <div *ngFor="let people of peoples" class="m-widget3">
	                	<div class="m-widget3__item">
	                        <div class="m-widget3__header">
	                            <div class="m-widget3__user-img">
	                                <img class="m-widget3__img" src="{{people.img}}" alt="">
	                            </div>
	                            <div class="m-widget3__info">
	                                <span class="m-widget3__username">
	                        			{{people.name}}
	                        		</span>
	                                <br>
	                                <span class="m-widget3__time">
	                        			{{people.job}}
	                        		</span>
	                            </div>
	                            <span class="m-widget3__status m--font-info">
	                            	<button [disabled]="know_loading" [ngClass]="{'m-loader m-loader--right m-loader--light': know_loading}" class="btn btn-outline-primary btn-sm m-btn m-btn--icon" (click)="selectpeopleknowID(people.id)">
	                          			<span>
	                            			<i class="la la-link"></i>
	                            			<span>{{people.button}}</span>
	                            		</span>
	                            	</button>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<!-- Confirm Pause modal -->
	<div class="modal fade show" id="pause_account_now" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
	    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
	        <div class="modal-content">
	            <div class="modal-header" style="border-bottom: none;">
	                <h5 class="modal-title" id="exampleModalLabel">Pause Account</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">×</span>
	                </button>
	            </div>
	            <form (ngSubmit)="pauseAccount()" #f="ngForm" action="">
	                <div class="modal-body update-profile-body">
	                    <div class="m-checkbox-inline textcenter">
	                        You are about to pause all Linkedin activities
	                        <br> Are you sure?
	                    </div>
	                </div>
	                <div class="modal-footer">
	                	<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-warning btn-sm m-btn m-btn--custom" style="width: 100%">Pause Account</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>

	<!-- Confirm Pause modal end! -->

	<!-- Confirm Delete modal -->
	<div class="modal fade show" id="delete_account_now" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
	    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
	        <div class="modal-content">
	            <div class="modal-header" style="border-bottom: none;">
	                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">×</span>
	                </button>
	            </div>
	            <form (ngSubmit)="deleteAccount()" #f="ngForm" action="">
	                <div class="modal-body update-profile-body">
	                    <div class="m-checkbox-inline textcenter">
	                        You are about to Delete your Linkedin account from the App.
	                        <br> Please note: Once you delete your account all your campaigns and activities will be removed from your account and this can't be undone.
	                        <br> Are you sure?
	                        <br>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                	<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-danger btn-sm m-btn m-btn--custom" style="width: 100%">Delete Account</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>

	<!-- Confirm Delete modal end! -->

	<!-- LinkedIn security code modal start! -->
	<div class="modal fade show linkedin-security-key-modal" id="linkedin_security_key_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px;">
	  	<div class="modal-dialog modal-md modal-dialog-centered" role="document">
		    <div class="modal-content">
		    	<form class="m-form m-form--label-align-right" (ngSubmit)="f.form.valid && sendLinkedinPinCode()" #f="ngForm" action="">
			      	<div class="modal-body">
			      		<div class="col-md-12 m--margin-top-50" style="text-align: center;">
					        <h5>Linkedin Security Code</h5>
				        </div>
					  	<div class="col-md-12 m--margin-top-15">
					        <span class="m-form__help">As you have logged into Linkedin from a new location, LinkedIn will send you a security pin to validate your login access. Sometimes LinkedIn may take upto 15 mins to send this to you, when you receive it enter the pin below and submit</span>
				        </div>
					  	<div class="form-group m-form__group row m--margin-top-25">
							<div class="col-md-12 m--margin-top-15">
								<div class="input-group">
									<input type="text" class="form-control m-input linkedin-security-key" [(ngModel)]="pincode" name="linkedinpincode" placeholder="Enter Linkedin Security Pin" style="background: #f2f3f8;">
									<div class="input-group-append">
										<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-success linkedin-security-key-btn">Submit</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group m-form__group row m--margin-top-15">
					        <div class="col-md-12" style="text-align: center;">
						        <span class="m-form__help">Your linkedin Credentials are encrypted. <br> We do not have any control over your account. <br> You can deactivate your LinkedIn account anytime.</span>
					        </div>
					    </div>
				  	</div>
		    	</form>
	    	</div>
	  	</div>
	</div>
	<!-- LinkedIn security code modal end! -->

</div>
