<div class="col-lg-12 col-sm-12 col-md-12 campaign-detail-section">
<div class="m-portlet">
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
          Campaign Name
          <small>Active</small>
        </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                        <i class="flaticon-info m--icon-font-size-lg3"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--end: Portlet Head-->

    <!--begin: Form Wizard-->
    <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">

        <!--begin: Message container -->
        <div class="m-portlet__padding-x">
            <!-- Here you can put a message or alert -->
        </div>
        <!--end: Message container -->

        <!--begin: Form Wizard Head -->
        <div class="m-wizard__head m-portlet__padding-x">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <!--begin: Form Wizard Nav -->
                    <div class="m-wizard__nav">
                        <div class="m-wizard__steps">
                            <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_1">
                                <div class="m-wizard__step-info">
                                    <a href="/campaign/overview" class="m-wizard__step-number">
                                        <span class="m-wizard__step-label">Overview</span>
                                        <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                    </a>
                                </div>
                            </div>

                            <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_2">
                                <div class="m-wizard__step-info">
                                    <a href="/campaign/contacts" class="m-wizard__step-number">
                                        <span class="m-wizard__step-label">Contacts</span>
                                        <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                    </a>
                                </div>
                            </div>

                            <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                                <div class="m-wizard__step-info">
                                    <a href="/campaign/sequences" class="m-wizard__step-number">
                                        <span class="m-wizard__step-label">Sequences</span>
                                        <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                    </a>
                                </div>
                            </div>

                            <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_4">
                                <div class="m-wizard__step-info">
                                    <a href="/campaign/settings" class="m-wizard__step-number">
                                        <span class="m-wizard__step-label">Settings</span>
                                        <span class="m-wizard__step-icon"><i class="la la-check"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Nav -->
                </div>
            </div>
        </div>
        <!--end: Form Wizard Head -->

        <!--begin: Form Wizard Form-->
        <div class="m-wizard__form">
            <!--
        1) Use m-form--label-align-left class to alight the form input lables to the right
        2) Use m-form--state class to highlight input control borders on form validation
      -->
            <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
                <!--begin: Form Body -->
                <div class="m-portlet__body">

                    <!--begin: Form Wizard Step 2-->
                    <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_2">
                        <div class="row campaign-overview-widget">
                            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 connection-lists">
                                <div class="m-portlet m-portlet--full-height" style="margin-top: 13px;">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <h3 class="m-portlet__head-text">Contacts</h3>
                                            </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item m-portlet__nav-item--last">
                                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                                        <a href="" class="refres-btn m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                                            <i class="flaticon-refresh"></i>
                                                        </a>
                                                        <div class="m-dropdown__wrapper"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body search-result-list">
                                        <div class="table-row-select">

                    					</div>
                                        <div class="m_datatable" id="json_data"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 connection-inbox">
                                <div class="m-portlet  m-portlet--full-height" style="margin-top: 13px;">
                                    <div class="m-portlet__body">
                                        <div>
                                            <div class="m-card-profile">
                                                <div class="m-card-profile__title m--hide">
                                                    Your Profile
                                                </div>
                                                <div class="m-card-profile__pic">
                                                    <div class="m-card-profile__pic-wrapper">
                                                        <img src="{{profile.img}}" alt="" />
                                                    </div>
                                                </div>
                                                <div class="m-card-profile__details">
                                                    <span class="m-card-profile__name">{{profile.name}}</span>
                                                    <a href="" class="m-card-profile__email m-link">{{profile.job}}</a>
                                                    <ul class="contact-info m-nav m-nav--hover-bg m-portlet-fit--sides" style="    margin-right: -4rem;">
                                                        <li>
                                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                                <span class="m-nav__link-icon">
                                                          <i class="m-nav__link-icon la la-linkedin-square contact-info-la"></i>
                                                        </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                                <span class="m-nav__link-icon">
                                                          <i class="m-nav__link-icon la la-twitter-square contact-info-la"></i>
                                                        </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="m-nav__link m-dropdown__toggle">
                                                                <span class="m-nav__link-icon">
                                                          <i class="m-nav__link-icon la flaticon-chat-1 contact-info-la"></i>
                                                        </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides profile-detail-info">
                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                            <li class="m-nav__section m--hide">
                                                <span class="m-nav__section-text">Section</span>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-placeholder"></i>
                                                    <span class="m-nav__link-title">
                                                    <span class="m-nav__link-wrap">
                                                      <span class="m-nav__link-text">{{profile.city}}</span>
                                                    </span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                                    <i class="m-nav__link-icon la la-university"></i>
                                                    <span class="m-nav__link-text">{{profile.university}}</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                                                    <i class="m-nav__link-icon la la-users"></i>
                                                    <span class="m-nav__link-text">500+ Connections</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="m-portlet__body-separator"></div>

                                        <div class="m-widget4">
                                            <div class="m-widget4__item">
                                                <div class="m-widget4__img m-widget4__img--logo">
                                                    <img src="assets/app/media/img/client-logos/logo4.png" alt="">
                                                </div>
                                                <div class="m-widget4__info">
                                                    <span class="m-widget4__title">Project Manager</span>
                                                    <br>
                                                    <span class="m-widget4__sub">Amazon Inc</span>
                                                    <br>
                                                    <span class="m-widget4__sub">Jul 2015 - present</span>
                                                    <br>
                                                    <span class="m-widget4__sub">(3 yrs 2 mos)</span>
                                                </div>
                                            </div>
                                            <div class="m-widget4__item">
                                                <div class="m-widget4__img m-widget4__img--logo">
                                                    <img src="assets/app/media/img/client-logos/logo2.png" alt="">
                                                </div>
                                                <div class="m-widget4__info">
                                                    <span class="m-widget4__title">
                                                      Project Engineer
                                                      </span>
                                                    <br>
                                                    <span class="m-widget4__sub">
                                                      Oracle Corporation
                                                      </span>
                                                    <br>
                                                    <span class="m-widget4__sub">
                                                      Jun 2012 - Jun 2015
                                                      </span>
                                                    <br>
                                                    <span class="m-widget4__sub">
                                                      (3 yrs)
                                                      </span>
                                                </div>
                                            </div>
                                            <div class="m-widget4__item">
                                                <div class="m-widget4__img m-widget4__img--logo">
                                                    <img src="assets/app/media/img/client-logos/logo1.png" alt="">
                                                </div>
                                                <div class="m-widget4__info">
                                                    <span class="m-widget4__title">
                                                  Project Assistant
                                                  </span>
                                                    <br>
                                                    <span class="m-widget4__sub">
                                                      Google Corp
                                                      </span>
                                                    <br>
                                                    <span class="m-widget4__sub">
                                                      Jul 2015 - present
                                                      </span>
                                                    <br>
                                                    <span class="m-widget4__sub">
                                                  (3 yrs 2 mos)
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 2-->

                    <!--end: Form Body -->
                </div>

                <!--begin: Form Actions -->
                <div class="m-portlet__foot--fit">
                    <div class="m-form__actions campaign-detail-action">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4 m--align-left">
                                <a href="" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                    <span>
                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                    <span>Back</span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-6 m--align-right" style="margin-left: 53px;">
                                <a href="" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                    <span>
                    <i class="la la-check"></i>&nbsp;&nbsp;
                    <span>Submit</span>
                                    </span>
                                </a>
                                <a href="/outreach/campaigns" class="btn btn-info m-btn m-btn--custom m-btn--icon mr25" data-wizard-action="next">
                                    <span>
                    <i class="la la-times-circle"></i>
                    <span>Close</span>&nbsp;&nbsp;
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
                <!--end: Form Actions -->
            </form>
        </div>
        <!--end: Form Wizard Form-->
    </div>
</div>
</div>
</div>
