<div class="ht100">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6" id="m_login">

        <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">

            <div class="m-login__head">
                <span>Already have an account?</span>
                <a [routerLink]="'/login'" class="m-link m--font-danger">Sign in</a>
            </div>

            <div class="m-login__body">
                <div class="signup_section">
                    <div class="m-login__signin">
                        <div class="m-login__title">
                            <a href="javascript:;">
                                <img src="./assets/app/media/img//logos/logo.png">
                            </a>
                        </div>

                        <form class="m-form" action="">
                            <div class="form-group m-form__group">
                                <label>Email address</label>
                                <input type="email" class="form-control m-input" placeholder="Enter your LinkedIn email">
                                <span class="m-form__help">Please enter the email associated to your Linkedin account</span>
                            </div>
                            <div class="form-group m-form__group">
                                <label>Password</label>
                                <div class="m-input-icon m-input-icon--right">
                                    <input class="form-control m-input" type="password" placeholder="Enter your LinkedIn Password" name="password">
                                    <span class="m-input-icon__icon m-input-icon__icon--right m--margin-top-10">
                                <a href=""><span><i class="la la-eye-slash"></i></span></a>
                                    </span>
                                    <span class="m-form__help">Please enter the password associated to your Linkedin account</span>
                                </div>
                            </div>
                            <div class="m-login__form-divider">
                                <label class="m-checkbox">
                                    <input type="checkbox" checked="checked"><a class="m-link"> I agree to the terms & conditions</a>
                                    <span></span>
                                </label>
                            </div>

                            <div class="m-login__options">
                                <a href="javascript:;" class="btn btn-primary m-btn m-btn--custom">Create Account
                              </a>
                            </div>
                            <div class="m-form__help mt25 font8 textcenter">Your LinkedIn Credentials are fully encrypted.
                                <br> We do not have any direct control over your LinkedIn Account and you can deactivate your account anytime you wish.</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
